<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>907568586430-kj3sa1qr7vm6aa03h7lbfib4342ctis8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907568586430-kj3sa1qr7vm6aa03h7lbfib4342ctis8</string>
	<key>API_KEY</key>
	<string>AIzaSyCdyc36Nc2xdSIcUJ8TBQmeR9FyiBkkZTw</string>
	<key>GCM_SENDER_ID</key>
	<string>907568586430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>omri.king.OmrisChat</string>
	<key>PROJECT_ID</key>
	<string>omrischat-e497b</string>
	<key>STORAGE_BUCKET</key>
	<string>omrischat-e497b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:907568586430:ios:aaf096d902527524</string>
	<key>DATABASE_URL</key>
	<string>https://omrischat-e497b.firebaseio.com</string>
</dict>
</plist>